<!-- Launch File for running svo with ceres backend from bag-file -->
<launch>
  <arg name="calib_file" default="$(find svo_ros)/param/calib/euroc_mono_gtsam.yaml"/>

  <!-- SVO node -->
  <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen" args="--v=0" >
    <!--<env name="ROSCONSOLE_CONFIG_FILE" value="$(find svo_ros)/launch/gtsam_custom_rosconsole.conf"/>-->
    <env name="GLOG_logtostderr" value="1" />
    <env name="GLOG_vmodule" value="estimator=10,gtsam*=10,frame_handler*=10,reprojector=10,depth*=100" />

    <!-- Camera topic to subscribe to -->
    <param name="cam0_topic" value="/cam0/image_raw" type="str" />
	
    <!-- Imu topic to subscribe to -->
    <param name="imu_topic" value="/imu0" type="str" />

    <!-- External position reference topic -->
    <param name="external_position_topic" value="/vicon/firefly_sbx/firefly_sbx" type="str" />

    <!-- Camera calibration file -->
    <param name="calib_file" value="$(arg calib_file)" />

    <!--Parameters-->
    <rosparam file="$(find svo_ros)/param/vio_euroc_gtsam.yaml" />
    <param name="runlc" value="false" />
    
  </node>

  <!-- RVIZ -->
  <!--
  -->
  <node name="vis" pkg="rviz" type="rviz" args=" -d $(find svo_ros)/rviz_config_vio_gtsam.rviz" />

</launch>
