<!-- Launch File for running svo with ceres backend from bag-file -->
<launch>
  <arg name="calib_file" default="$(find svo_ros)/param/calib/urban_parking_lot.yaml"/>

  <!-- SVO node -->
  <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen" >

    <!-- Camera topic to subscribe to -->
    <param name="cam0_topic" value="/tau_nodelet/thermal_image" type="str" />
	
    <!-- Imu topic to subscribe to -->
    <param name="imu_topic" value="/vn100/imu" type="str" />

    <!-- Camera calibration file -->
    <param name="calib_file" value="$(arg calib_file)" />

    <!--Parameters-->
    <rosparam file="$(find svo_ros)/param/vio_urban_parking_lot_fast16.yaml" />
    <param name="runlc" value="false" />
    
  </node>

  <!-- RVIZ -->
  <node name="vis" pkg="rviz" type="rviz" args=" -d $(find svo_ros)/rviz_config_vio.rviz" />
</launch>
